# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDEs
.vscode/
.idea/
*.iml

# Ignore Eclipse installation accidentally copied
images/eclipse-jee-2022-12-R-win32-x86_64/

# Ignore large weights
*.pt
*.mp3
*.mp4
*.avi
*.zip
*.rar
*.tar.gz
